body {
  font-family: Arial, sans-serif;
  background-color: #fff0f6;
  text-align: center;
}

.producto {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  border-radius: 15px;
}

a {
  background: #ff69b4;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
}
